BEST FIT LINE - Cost function using un-constrained method - Gradient descent

In [22]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model

In [35]:
#reading data
data=pd.read_table("auto-mpg.data.txt",header=None, sep="\s+", names=['mpg','cylinders','displacement','horsepower','weight','acceleration','model_year','origin','car_name'])
data.replace('?','0', inplace=True)

In [36]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [37]:
#data=data.drop(['car_name'],axis=1,inplace=True)

In [38]:
data.drop(['car_name'],axis=1 , inplace=True)
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [71]:
x=data.iloc[:,1:8].values
y=data.iloc[:,0].values

In [72]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
print(x_train.shape,y_train.shape,x_test.shape,y_test.shape)

(318, 7) (318,) (80, 7) (80,)

In [74]:
from sklearn.preprocessing import StandardScaler

scale=StandardScaler()
x_train=scale.fit_transform(x_train)
x_test=scale.fit_transform(x_test)
y_train=y_train.reshape(len(y_train),1)
y_test=y_test.reshape(len(y_test),1)

y_train=scale.fit_transform(y_train)

y_test=scale.fit_transform(y_test)

In [78]:
classifier=linear_model.LinearRegression()

In [79]:
classifier.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [80]:
classifier.predict(x_test)

array([[-1.26148357],
       [ 0.15685403],
       [-1.41880821],
       [-0.18163345],
       [-0.70176124],
       [ 0.96015442],
       [ 1.34813826],
       [ 0.14480036],
       [-1.11611744],
       [ 0.47596938],
       [ 1.47202997],
       [ 1.43810898],
       [-0.20567855],
       [ 0.53040804],
       [-0.85684059],
       [ 0.97851039],
       [ 0.76092332],
       [ 0.77534342],
       [-0.69330671],
       [ 1.00302532],
       [-0.90689804],
       [ 0.24767566],
       [ 0.59013692],
       [-0.30766224],
       [ 0.81752732],
       [ 0.72142283],
       [ 0.99677047],
       [ 0.97639891],
       [ 0.8018289 ],
       [-0.59311174],
       [-0.26884286],
       [ 1.09554042],
       [-0.22655923],
       [ 1.22774868],
       [ 0.11481579],
       [ 0.39044398],
       [-0.21215974],
       [-0.75855695],
       [ 1.15153988],
       [-1.77380027],
       [-1.57451166],
       [-1.13091234],
       [ 0.4041799 ],
       [ 0.95870773],
       [ 1.10670276],
       [ 0.0059253 ],
       [ 0.00580059],
       [-1.157932  ],
       [-0.04889418],
       [ 0.67875315],
       [ 1.09392669],
       [ 0.51890641],
       [-0.9785519 ],
       [ 0.29709914],
       [-0.99031165],
       [-1.74620249],
       [-0.42899891],
       [ 0.40332817],
       [ 0.91034972],
       [-1.04124247],
       [-0.26065713],
       [ 0.22685201],
       [-0.10390608],
       [-0.48068343],
       [-1.52647745],
       [-1.41565325],
       [-1.57311911],
       [-0.42462434],
       [ 0.15942955],
       [-1.58142501],
       [ 1.55617901],
       [-1.57015439],
       [-0.1861416 ],
       [-0.50087953],
       [ 0.20385366],
       [ 0.64017722],
       [ 1.01831167],
       [ 0.96705836],
       [ 0.72868698],
       [-0.85584391]])

In [81]:
classifier.score(x_test,y_test)

0.83048909032450136

In [90]:
plt.scatter(x_train[:,0], x_train[:,1],x_train[:,2],x_train[:,3],x_train[:,4],x_train[:,5], marker='1' )
plt.show()

TypeError: scatter() got multiple values for argument 'marker'