# Machine Learning KNN assignments

In [1]:
import numpy as np
import pandas as pd 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
import matplotlib.pyplot as plt

from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [2]:
train_data=pd.read_csv('adult.data.txt',header=None,
  names=['age','workclass','final_weight','education','education_num','marital_status','occupation','relationship',
        'race','sex','capital-gain','capital-loss','hours-per-week','native-country','Class'])
train_data.fillna(0,inplace=True)
train_data.drop(['education'],axis=1,inplace=True)
train_data.head()

,age,workclass,final_weight,education_num,marital_status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Class
0,39,State-gov,77516,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
x_train=train_data.iloc[:,:-1].values

y_train=train_data.iloc[:,-1].values



print(x_train[:5],y_train[:5],x_train.shape,y_train.shape)

(array([[39L, ' State-gov', 77516L, 13L, ' Never-married', ' Adm-clerical',
        ' Not-in-family', ' White', ' Male', 2174L, 0L, 40L,
        ' United-States'],
       [50L, ' Self-emp-not-inc', 83311L, 13L, ' Married-civ-spouse',
        ' Exec-managerial', ' Husband', ' White', ' Male', 0L, 0L, 13L,
        ' United-States'],
       [38L, ' Private', 215646L, 9L, ' Divorced', ' Handlers-cleaners',
        ' Not-in-family', ' White', ' Male', 0L, 0L, 40L, ' United-States'],
       [53L, ' Private', 234721L, 7L, ' Married-civ-spouse',
        ' Handlers-cleaners', ' Husband', ' Black', ' Male', 0L, 0L, 40L,
        ' United-States'],
       [28L, ' Private', 338409L, 13L, ' Married-civ-spouse',
        ' Prof-specialty', ' Wife', ' Black', ' Female', 0L, 0L, 40L,
        ' Cuba']], dtype=object), array([' <=50K', ' <=50K', ' <=50K', ' <=50K', ' <=50K'], dtype=object), (40560L, 13L), (40560L,))

# Importing test data

In [4]:
test_data=pd.read_csv('adult.test.txt',header=None,
  names=['age','workclass','final_weight','education','education_num','marital_status','occupation','relationship',
        'race','sex','capital-gain','capital-loss','hours-per-week','native-country','Class'])
test_data.fillna(0,inplace=True)
test_data.drop(['education'],axis=1,inplace=True)
test_data.head()

,age,workclass,final_weight,education_num,marital_status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Class
0,31,Private,57151,10,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
1,35,Private,399455,9,Married-spouse-absent,Other-service,Unmarried,White,Female,0,0,52,United-States,<=50K
2,37,Private,52630,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
3,42,Private,124692,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
4,21,Private,278254,10,Never-married,Handlers-cleaners,Own-child,Black,Male,0,0,40,United-States,<=50K

In [5]:
x_test=test_data.iloc[:,:-1].values
y_test=test_data.iloc[:,-1].values

print(x_test.shape,y_test.shape)

((8282L, 13L), (8282L,))

In [6]:
train_data.describe()

,age,final_weight,education_num,capital-gain,capital-loss,hours-per-week
count,40560.000000,4.056000e+04,40560.000000,40560.000000,40560.000000,40560.000000
mean,38.596031,1.894779e+05,10.075148,1090.381509,87.031262,40.430966
std,13.670550,1.054833e+05,2.574222,7507.980783,402.197372,12.364265
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.174960e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783110e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.372772e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

# Data after encoding it to the numerical

In [7]:
#Encodring Train data
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
from sklearn import utils

endocer=LabelEncoder()

x_train[:,1]=endocer.fit_transform(x_train[:,1])
x_train[:,4]=endocer.fit_transform(x_train[:,4])
x_train[:,5]=endocer.fit_transform(x_train[:,5])
x_train[:,6]=endocer.fit_transform(x_train[:,6])
x_train[:,7]=endocer.fit_transform(x_train[:,7])
x_train[:,8]=endocer.fit_transform(x_train[:,8])
x_train[:,12]=endocer.fit_transform(x_train[:,12])

y_train=y_train.reshape(len(y_train),1)

y_train[:,0]=endocer.fit_transform(y_train[:,0])

#utils.multiclass.type_of_target(y_train.astype('int'))
                                         
#print(utils.multiclass.type_of_target(y_train))
y_train=np.array(y_train, dtype=int)

print(utils.multiclass.type_of_target(y_train))

binary

In [8]:
print(max(x_train[:,1]),max(x_train[:,4]),max(x_train[:,5]),max(x_train[:,6]),max(x_train[:,7]),max(x_train[:,8]),max(x_train[:,12]),max(y_train[:]))

(8L, 6L, 14L, 5L, 4L, 1L, 41L, array([1]))

In [9]:


onehotencoder = OneHotEncoder(categorical_features = [1,4,5,6,7,8,12])
x_train = onehotencoder.fit_transform(x_train).toarray()
x_train=x_train[:,1:]

print(utils.multiclass.type_of_target(y_train),x_train.shape)

('binary', (40560L, 91L))

# Encoder on test data

In [10]:
##encoding testa data

endocer=LabelEncoder()

x_test[:,1]=endocer.fit_transform(x_test[:,1])
x_test[:,4]=endocer.fit_transform(x_test[:,4])
x_test[:,5]=endocer.fit_transform(x_test[:,5])
x_test[:,6]=endocer.fit_transform(x_test[:,6])
x_test[:,7]=endocer.fit_transform(x_test[:,7])
x_test[:,8]=endocer.fit_transform(x_test[:,8])
x_test[:,12]=endocer.fit_transform(x_test[:,12])

y_test=y_test.reshape(len(y_test),1)

y_test[:,0]=endocer.fit_transform(y_test[:,0])
y_test=np.array(y_test , dtype=int)


print(utils.multiclass.type_of_target(y_test))

binary

In [11]:
print(max(x_test[:,1]),max(x_test[:,4]),max(x_test[:,5]),max(x_test[:,6]),max(x_test[:,7]),max(x_test[:,8]),max(x_test[:,12]),max(y_test[:]))

(8L, 6L, 14L, 5L, 4L, 1L, 40L, array([1]))

In [12]:
print(x_test.shape)

(8282L, 13L)

In [13]:
###one hotEncoder on test data

onehotencoder = OneHotEncoder(categorical_features = [1,4,5,6,7,8,12])
x_test = onehotencoder.fit_transform(x_test).toarray()

x_test.shape

(8282L, 91L)

# scaling the features

In [14]:
#scaling the features 
from sklearn.preprocessing import StandardScaler
scal=StandardScaler()

In [15]:
##scaling the train features
x_train=scal.fit_transform(x_train)
x_train=np.array(x_train)
#x_train[:5]

In [16]:
##scaling the test features
x_test=scal.fit_transform(x_test)
x_test=np.array(x_test)
#x_test[:5]

In [17]:
print(x_train.shape,y_train.shape,x_test.shape,y_test.shape)

((40560L, 91L), (40560L, 1L), (8282L, 91L), (8282L, 1L))

In [18]:
#impor the classifier 
clf=KNeighborsClassifier(n_neighbors=3)
y_train=np.ravel(y_train)
y_train
print(utils.multiclass.type_of_target(y_train))

binary

In [19]:
clf.fit(x_train ,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [22]:
predication=clf.predict(x_test)
predication[:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [24]:
clf.score(x_test,y_test)

0.6941560009659502